@model ProductosViewModel

@{
    Layout = "_LayoutAdmin";
}

<form method="post" action="~/Administrador/Productos/Agregar" enctype="multipart/form-data">
    <div>
        <h1>Agregar Producto</h1>

        <label>Nombre:</label>
        <input type="text" id="txtNombre" asp-for="Producto.Nombre" required="required" />

        <label>Categoría:</label>
        <select id="cmbCategoria" required="required" asp-for="Producto.IdCategoria" 
        asp-items="@(new SelectList(Model.Categorias,"Id","Nombre"))">
            <option selected="selected" value="">-- Seleccionar categoria --</option> 
            
        </select>

        <label>Unidad de Medida:</label>
        <input type="text" id="txtUnidadMedida" asp-for="Producto.UnidadMedida" required="required" />

        <label>Precio:</label>
        <input type="number" id="txtPrecio" required="required" asp-for="Producto.Precio" step="0.01" min="0.1" />

        <label>Descripción</label>
        <textarea rows="2" cols="20" id="txtDescripcion" asp-for="Producto.Descripcion" required="required">
</textarea>

        <label>Imagen:</label>
        <input asp-for="Imagen" type="file" id="fileUpload1" accept="image/jpg" />

        <img id="imagePreview" src="~/img_frutas/no-disponible.png" alt="Vista previa de la imagen" />

        @Html.ValidationSummary()

        <div class="botones">
            <p id="error"></p>
            <input type="submit" value="Agregar" id="btnAgregar" />
            <a href="~/Administrador/Productos">
                <input type="button" value="Cancelar" id="btnCancelar" formnovalidate="formnovalidate" />
            </a>
        </div>
    </div>
</form>
<script>
    function mostrarImagen(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }


    $(document).ready(function () {
        $("#fileUpload1").change(function () {
            mostrarImagen(this);
        });
    });

</script>

