@model FruitStore6.Models.Categoria
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_LayoutAdmin";
}

<form method="post" asp-area="Administrador" asp-controller="Categorias" asp-action="Editar"> 
    <div>
        <h1>Editar Categoría</h1>

        <input type="hidden" id="id" asp-for="Id"/>

        <label>Nombre:</label>
        <input type="text" id="txtNombre" asp-for="Nombre" required="required" />

        @Html.ValidationSummary()


        <div class="botones">
            <p id="error"></p>
            <input type="submit" value="Guardar" id="btnGuardar"/>
            <a href="~/Administrador/Categorias">
                <input type="button" value="Cancelar" id="btnCancelar" formnovalidate="formnovalidate" />
            </a>
            
        </div>
    </div>
</form>
