@model IEnumerable<FruitStore6.Models.Categoria>
@{
    Layout = "_LayoutAdmin";
}

<h1>Administrar Categorias</h1>

<section class="listado">

    <a class="mark" href="~/Administrador/Categorias/Agregar">
        <h1>Nueva Categoria...</h1>
        <div class="botones">
            <img src="../images/add.png" />
        </div>
    </a>

    @foreach(var c in Model)
    {
        <div class="card">
            <h1>@c.Nombre</h1>

            <div class="botones">
                <a href="~/Administrador/Categorias/Editar/@c.Id" class="btnEditar"></a>
                <a href="~/Administrador/Categorias/Eliminar/@c.Id" class="btnBorrar"></a>
            </div>
        </div>
    }

</section>
